<div class="header">
    <div class="top">
        <div class="top-left"> <img
                src="https://shopfront.takealot.com/125ff01073628966eb65e2710a7bce886017b6d9/static/media/src/images/logo.svg-f6ccb489b85bbddf97d6.svg"
                alt="" class="logo">
            <ul>
                <li><a href="">Help Center</a></li>
                <li class="slash" ><a href="">Sell on Takealot</a></li>
            </ul>
        </div>
        <div class="top-right">
            <ul>
                <li class="slash"><a href="">Login</a></li>
                <li class="slash"><a href="">Register</a></li>
                <li class="slash"><a href="">Orders</a></li>
                <li class="vl"><a href="">Orders</a></li>
                <div class="dropdown">
                    <li><a href="">My Account</a></li>
                    <i class="fa fa-caret-down"></i>
                <div class="my-account-content">
                    <a href="">My Account</a>
                    <a href="">Track Order</a>
                    <a href="">Returns</a>
                    <a href="">Credit & Refunds</a>
                    <a href="">Product Reviews</a>
                    <a href="">Invoices</a>
                    <a href="">Personal Details</a>
                    <a href="">Help Center</a>
                </div>
                </div>

Message @Karabo Pheko

                <li></li>
                <li></li>

            </ul>
        </div>
    </div>
    <div class="bottom"> bottom </div>
</div>